In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
SEED = 42
random.seed(SEED)
np.random.seed(SEED)

In [3]:
def insert_nans(df, col, frac):
    '''
    Inserts missing values in a dataframe column
    '''
    non_null_indices = df[df[col].notna()].index.tolist() #getting not null indices
    to_change_indices = random.sample(non_null_indices, int(frac*len(non_null_indices)))
    df.loc[to_change_indices, col] = np.nan
    return df

In [4]:
frac = 0.1

In [5]:
training_df = pd.read_csv('../../data/train_set_basic.csv')
training_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,14.728733,-1.000000,3.170892,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1,-1.000000,-1.000000,-1.0,-1.000000,-1.0,-1.000000,44.186200,-1.0,0
1,10.405752,9.634615,5.659537,-1.000000,-1.000000,77.413788,212.671838,4.032519,0,0.887130,96.311597,-1.0,43.218595,-1.0,83.207518,31.217256,-1.0,4
2,15.132737,358.914888,1.842252,3.797487,315.102272,80.500314,-1.000000,5.639507,0,-1.000000,-1.000000,-1.0,-1.000000,-1.0,-1.000000,45.398211,-1.0,0
3,11.340169,-1.000000,1.662209,2.441767,-1.000000,97.033963,102.079062,3.506041,1,1.020527,127.281715,-1.0,20.847013,-1.0,62.210273,34.020508,-1.0,6
4,6.691485,-1.000000,3.337971,-1.000000,-1.000000,99.838438,24.119564,2.010694,0,1.957666,34.633063,-1.0,34.612121,-1.0,112.411298,20.074456,-1.0,5

In [6]:
for column in training_df.columns:
    if column not in ['hemoglobin', 'gender', 'label']:
        training_df = insert_nans(training_df, column, frac)
training_df.isna().sum()

hemoglobin                  0
ferritin                 5040
ret_count                5040
segmented_neutrophils    5040
tibc                     5040
mcv                      5040
serum_iron               5040
rbc                      5040
gender                      0
creatinine               5040
cholestrol               5040
copper                   5040
ethanol                  5040
folate                   5040
glucose                  5040
hematocrit               5040
tsat                     5040
label                       0
dtype: int64

In [7]:
# training_df.to_csv(f'../../data/train_set_missingness_{frac}.csv', index=False)